.container-shadow {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.5);
}

.container-dialog-box {
  z-index: 3;
  margin: 20vh auto;
  max-width: 40vw;
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgb(98, 5, 165);
}

.dialog {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.dialog h1,
.dialog h2 {
  font-weight: bold;
}

.dialog h2,
.dialog p {
  font-size: 16px;
}

.dialog h2 {
  margin-bottom: 10px;
}

.dialog p {
  margin-bottom: 18px;
}

.dialog h1 {
  margin-bottom: 25px;
  font-size: 28px;
}

.container-btn-close {
  height: 20%;
  border-top: 3px solid rgb(98, 5, 165);
}

.container-btn-close button {
  color: white;
  display: block;
  margin: 17px auto;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(98, 5, 165);
}
