.container-shadow {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.5);
}

.container-dialog-box {
  z-index: 3;
  margin: 20vh auto;
  max-width: 40vw;
  height: 50vh;
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgb(98, 5, 165);
}

.dialog {
  height: 80%;
}

.container-btn-close {
  height: 20%;
  border-top: 3px solid rgb(98, 5, 165);
}

.container-btn-close button {
  color: white;
  display: block;
  margin: 17px auto;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(98, 5, 165);
}
